<div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="overflow-y: initial !important">
    <div class="modal-content">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    	<h4 class="modal-title">Edit Record  <a href="/delete-record/1"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></h4>
    </div>
    <div class="modal-body"">
        <div class="row">
          <div class="col-sm-12">
            <form name="edit-record" action method="post">
                {% from 'render_field.html' import render_field %}
                        {{ edit_form.csrf_token }}
                        {{ edit_form.edit_id }}
                        {{ edit_form.image_url }}
                        {{ render_field(edit_form.edit_artist, class="form-control", maxlength="63") }}
                        {{ render_field(edit_form.edit_title, class="form-control", maxlength="63") }}
                        {{ render_field(edit_form.edit_color, class="form-control") }}
                        <div class="row form-group">
                            <div class="col-sm-2">
                                {{ render_field(edit_form.edit_size, class="form-control") }}        
                            </div>
                            <div class="col-sm-2">
                                {{ render_field(edit_form.edit_year, class="form-control") }}        
                            </div>
                            <div class="col-sm-2">
                                {{ render_field(edit_form.edit_incoming) }}
                            </div>
                            <div class="col-sm-2">
                                <button id="fileSelect" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span> Image Upload</button>
                                <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="handleFiles(this.files)">
                            </div>
                            <div class="col-sm-2">
                                <small>Preview</small>
                                <div id="edit_gallery"></div>
                            </div>
                        </div>
                        {{ render_field(edit_form.edit_notes, class="form-control") }}
                        <button type="submit" name="edit-record-save" class="btn btn-primary btn-lg margin-push btn-block">Save</button>
            </form>
          </div>
        </div> 		
		</div>
    </div>
  </div>
</div>