<div class="well well-sm">
    <div class="media">
        <div class="pull-left">
        <img class="media-object" src="{{ user.gravatar(size=105) }}" alt="profile picture">
        {% if current_user.is_authenticated and user != current_user %}
            <p class="margin-push">
            {% if not current_user.is_following(user) %}
                <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> Follow</a>
            {% else %}
                <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Unfollow</a>
            {% endif %}
            </p>
        {% endif %}
        </div>
        <div class="media-body">
        {% if user.is_administrator()  %}
            <span class="label label-default pull-right">Admin</span>
        {% endif %}
        <h4 class="media-heading">{{user.username}}</h4>
        <p>{%if user.location%}<em>{{user.location}}</em> - {%endif%}<strong>Member Since: </strong>{{user.member_since.strftime('%m/%d/%y')}}</p>

        <!-- Badges -->
        <p>
            <span class="label label-primary">{{ user_records_count }} Records</span>
            <span class="label label-info pointer" data-toggle="modal" data-target=".follower-modal">{{ followers_count - 1}} followers</span>
            <span class="label label-success pointer" data-toggle="modal" data-target=".following-modal">{{ followed_count - 1 }} following</span>
        </p>

        <!-- Settings & Download -->
        <p>
            {% if current_user.is_authenticated %}
                {% if current_user.is_administrator() %}
                    <a href="{{ url_for('.edit_profile_admin', id=user.id) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-wrench"></span> Admin Settings</a>
                {% endif %}
                {% if user == current_user and not current_user.is_administrator() %}
                    <a href="{{ url_for('.edit_profile') }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
                {% endif %}
                {% if user == current_user %}
                    <a href="{{ url_for('main.download', username=current_user.username) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-download"></span> Download CSV</a>
                {% endif %}
            {% endif %}
        </p>
        </div>
    </div>
</div>
