{% extends "/extend/_base.html" %}

{% block title %}
	{{super()}}
	Admin
{% endblock %}

{% block page_content %}
<div>

        	<h1>Admin</h1>
        	{% if current_user.is_administrator() %}
	        	<p><strong>Users ({{ all_users|length }})</strong></p>
	        	<table border="1" cellpadding="5" cellspacing="5">
	        	<tr>
	        	<th>Username</th>
	        	<th>Email</th>
	        	<th>Confirmed</th>
	        	<th>Name</th>
	        	<th>Member Since</th>
	        	<th>Last Seen</th>
	        	<th>View</th>
	        	</tr>
        	    {% for u in all_users %}
	        	    <tr>
	        	    <td>{{u.username}}</td>
	        	    <td>{{u.email}}</td>
	        	    <td>{{u.confirmed}}</td>
	        	    <td>{{u.name}}</td>
	        	    <td>{{u.member_since}}</td>
	        	    <td>{{u.last_seen}}</td>
	        	    <td><a href="/{{ u.username }}">Profile</a></td>
	        	    </tr>
	            {% endfor %}
        	{% endif %}
</div>
{% endblock %}