{% extends "/extend/_base.html" %}

{% block title %}
	Record Bin - Change Email
{% endblock %}

{% block page_content %}
<div>
	<div class="row">
		<div class="col-sm-6">
	    	<h1>Change Email Address</h1>
		    {% from 'render_field.html' import render_field %}
		    <form action method="post">
				{{ form.csrf_token }}
			    {{ render_field(form.email, class="form-control") }}
			    {{ render_field(form.password, class="form-control") }}
			    <button type="submit" name="submit" class="btn btn-primary btn-lg margin-push">Change Email Address</button>
		    </form>
		</div>
	</div>
</div>
{% endblock %}
