{% extends "/extend/_base.html" %}

{% block title %}
	{{ super() }}
	Login
{% endblock %}

{% block page_content %}
<div>	
    <h1>Login</h1>
    {% from 'render_field.html' import render_field %}
    <form action method="post">
		{{ form.csrf_token }}
	    {{ render_field(form.email) }}
	    {{ render_field(form.password) }}
	    {{ render_field(form.remember_me) }}
	    <button class="btn" type="submit" name="submit">Log In</button>
    </form>

    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a></p>

    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a></p>
</div>
{% endblock %}
