{% extends "/extend/_base.html" %}

{% block title %}
	{{ super() }}
	Register
{% endblock %}

{% block page_content %}
<div>

	<h1>Register</h1>
    {% from 'render_field.html' import render_field %}
    <form action method="post">
	    <div class="form-group">
		{{ form.csrf_token }}
	    {{ render_field(form.email, class="form-control push-bottom") }}
	    {{ render_field(form.username, class="form-control push-bottom") }}
	    {{ render_field(form.password, class="form-control push-bottom") }}
	    {{ render_field(form.password2, class="form-control push-bottom") }}
	    </div>
	    <button type="submit" name="submit" class="btn btn-primary btn-lg margin-push btn-block">Register</button>
    </form>
</div>


{% endblock %}
