{% extends "_base.html" %}

{% block title %}
	Record Bin
{% endblock %}

{% block page_content %}
<div>
    <h1>Record Bin AUTH</h1>

    	<h1>RESET password</h1>

	{% from 'render_field.html' import render_field %}

		<form action method="post">
			{{ form.csrf_token }}
		    {{ render_field(form.email) }}
		    {{ render_field(form.password) }}
		    {{ render_field(form.password2) }}
		    <button class="btn" type="submit" name="submit">Reset Password</button>
	    </form>
</div>
{% endblock %}
