{% extends "/extend/_base.html" %}

{% block title %}
	{{ super() }}
	Forgot Password
{% endblock %}

{% block page_content %}
<div>
	<h1>Password Reset Request</h1>

	<div class="row">
		<div class="col-sm-6">
			{% from 'render_field.html' import render_field %}	    
		    <form action method="post">
				{{ form.csrf_token }}
			    {{ render_field(form.email, class="form-control") }}
		         <button type="submit" name="submit" class="btn btn-primary btn-lg margin-push btn-block">Reset Password</button>
		    </form>
		</div>
	</div>
</div>
{% endblock %}
