.container {
  margin: 0 auto;
  max-width: 960px; }

  .btn {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    padding: 1em;
    min-width: 125px; }
    .btn:hover {
      background-color: #000;
      color: white;
      cursor: pointer; }

* {
  font-family: sans-serif; }

  .navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }

    .navigation__item {
      display: inline;
      margin-right: 1em; }
      .navigation__item a {
        color: #000;
        font-weight: bold;
        text-decoration: none; }
        .navigation__item a:hover {
          color: #777; }
          .navigation__item a.active {
            border-bottom: 1px solid #000; }

.gravatar {
  border-radius: 5px; }
