/*Element*/
nav {
	margin: 1em 0 0 1em;
}

/*ul*/
.navigation {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/*li*/
.navigation__item {

	display: inline;
	margin-right: 1em;
	
	a {
		color: $black;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			color: $gray;
		}

		&.active {
			border-bottom: 1px solid $black;
		}
	}
}