.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.push {
	padding-top: 2em;
}

.margin-push {
	margin-top: 1em;
}

.push-bottom {
	margin-bottom: 1em;
}

.pointer:hover {
	cursor: pointer;
}

#add-record,
#mail {
	display: none;
}

.well {
	min-height: 160px;
}

.break-all {
	-ms-word-break: break-all;
	    word-break: break-all;
}

.keep-all {
	-ms-word-break: keep-all;
	    word-break: keep-all;
}

#remember_me {
	float: left;
	margin-right: 0.5em;
}

.error {
	color:#a94442;
	font-weight: bold;
}

.jumbotron  p {
	font-size: 16px;
	color: rgb(169, 68, 66);
	
	&.error {
	 	font-weight: bold;
	 }
}

.spin {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 
	100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
	100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
	100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}


#edit_gallery,
#add_gallery {
	background-color: lightgray;
	height: 50px; 
	margin-top: 6px; 
	width: 50px; 
}

span.glyphicon-camera {
	margin-left: 1em;
}






