{% extends "/extend/_base.html" %}

{% block title %}
	{{super()}}
	About
{% endblock %}


{% block page_content %}
	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>About Record Bin</h1>
			<p>Thanks for visiting Record Bin. I (<a href="http://recordbin.online/john" target="_blank">John</a>) made this site to organize my collection the way I always wanted, and for while I was the only user. I hope you get as much use out of the site as I have. Record Bin is a hobby, but I do plan on adding more features such as badges, personal stats, and bulk uploading. If you have a suggestion for a feature or are having issues please shoot me an email: john@recordbin.online. 
			<br>
			<br>
			Finally, please back-up your collection regularly using the "Download CSV" button on your  page near your profile picture. I am a quasi-professional web developer, but the site is running on several free tier cloud application plans. For those interested, Record Bin is built in Flask. Thanks again.
		</p>
		<p><strong>BTC: </strong>1C9LEF29xQFtkrvV3yaSANJbXASUfyLT7b</p>
		<p><strong>ETH: </strong>0x3c7f2cff83eae95b964c475cd368ba872a458083</p>
		</div>
	</div>
{% endblock %}