{% extends "/extend/_base.html" %}

{% block title %}
	Record Bin - Edit Profile
{% endblock %}

{% block page_content %}
<div>

        	<h1>Edit Profile</h1>
            <img class="gravatar" src="{{ user.gravatar(size=100) }}" alt="">
            <p>Profile images via <a href="http://en.gravatar.com/" target="_blank">Gravatar</a></p>
        {% from 'render_field.html' import render_field %}
        <form action method="post">
    		{{ form.csrf_token }}
    	    {{ render_field(form.email) }}
    	    {{ render_field(form.username) }}
            {{ render_field(form.name) }}
    	    {{ render_field(form.confirmed) }}
    	    {{ render_field(form.role) }}
            {{ render_field(form.location) }}
            {{ render_field(form.about_me) }}
            <button class="btn" type="submit" name="submit">Submit</button>
        </form>

</div>
{% endblock %}