{% extends "/extend/_base.html" %}

{% block title %}
	{{ super() }}
{% endblock %}

{% block page_content %}
	
	<div class="jumbotron">
	<div class="row">
			<div class="col-sm-6">
				<h1>RecordBin</h1>
				<h4>Simple Record Collections</h4>
			</div>
			<div class="col-sm-6">
				<form action method="post">
				{% from 'render_field.html' import render_field %}
						{{ form.csrf_token }}
					    {{ render_field(form.email, class="form-control push-bottom") }}
					    {{ render_field(form.password, class="form-control push-bottom") }}
					    {{ render_field(form.remember_me) }}
				     <button type="submit" name="submit" class="btn btn-primary btn-lg margin-push btn-block">Log In</button>
			    </form>
			    <small><a href="{{ url_for('auth.password_reset_request') }}">Forgot your password?</a></small>
			</div>
		</div>
	</div>
{% endblock %}
