{% extends "/extend/_base.html" %}

{% block title %}
	{{ super() }}
	 | {{ user.username }}
{% endblock %}

{% block page_content %}
<h1>{{ user.username }}'s Profile</h1>

<!-- Profile Section -->
<div class="row profile">
	<div class="col-sm-2">
		<img class="gravatar" src="{{ user.gravatar(size=150) }}" alt="">
		<!-- User Edit Profile -->
		{% if user == current_user %}
			<p><a href="{{ url_for('.edit_profile') }}">Edit Profile</a></p>
			<p><a href="{{ url_for('auth.change_password') }}">Change Password</a></p>
			<p><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></p>
		{% endif %}
		<!-- Admin Edit profile -->
		{% if current_user.is_authenticated and current_user.is_administrator() %}
			<p><a name="admin-edit" href="{{ url_for('.edit_profile_admin', id=user.id) }}">[Admin] Edit Profile</a></p>
		{% endif %}
	</div>
	<div class="col-sm-6 bio">
		<ul>
			<li><strong>Username:</strong> {{ user.username }}</li>
			<li><strong>Location:</strong> {{ user.location }}</li>
			<li><strong>Records:</strong> {{ user_records_count }} </li>
		</ul>
	</div>
	<div class="col-sm-4 followers">

		<!-- Followers  -->
		<p><strong>Following ({{ followed_count - 1 }}):</strong></p>
		<ul>
		{% for f in followed %}
			{% if f.followed.username != user.username%}
			<li><a href="/{{f.followed.username}}">{{f.followed.username}}</a></li>
			{% endif %}
		{% endfor %}
		</ul>

		<p><strong>Followers ({{ followers_count - 1}}):</strong></p>
		<ul>
		{% for f in followers %}
			{% if f.follower.username != user.username%}
			<li><a href="/{{f.follower.username}}">{{f.follower.username}}</a></li>
			{% endif %}
		{% endfor %}
		</ul>

		<!-- {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
			<h3 style="text-decoration:underline;">FOLLOWS YOU</h3>
		{% endif %} -->

		<!-- Follow Button -->
		{% if current_user.is_authenticated %}
			{% if user != current_user %}
				{% if not current_user.is_following(user) %}
					<form style="padding-top:1em;"action="{{ url_for('.follow', username=user.username) }}">
					    <button class="btn" type="submit">Follow</button>
					</form>
				{% else %}
					<form style="padding-top:1em;"action="{{ url_for('.unfollow', username=user.username) }}">
					    <button class="btn" type="submit">Unfollow</button>
					</form>
				{% endif %}
			{% endif %}
		{% endif %}	
	</div>
</div>


<!-- Size Navigation -->
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<ul id="sizes">
			<li class="active">All</li>
			<li>7</li>
			<li>10</li>
			<li>12</li>
		</ul>
	</div> 
</div>


<!-- Add Record Form -->
<div class="row">

	{% if user == current_user %}
		<div class="pull-right" id="plus"><p>+</p></div>
		{% include "/include/_addrecordform.html" %}
	{% endif %}	
</div>

<!-- Records -->
<div class="row">
	<div class="col-sm-12">

    	<!-- 7 INCH  -->
    	{% if seven_inches %}
	    	{% from 'macro/record_table.html' import record_table %}
	    	    {{ record_table('7', seven_inches, current_user, user=user) }}
		{% endif %}
    	    
		<!-- 10 INCH -->
		{% if ten_inches %}
	    	{% from 'macro/record_table.html' import record_table %}
	    	    {{ record_table('10', ten_inches, current_user, user=user) }}
    	{% endif %}
    	
        <!-- 12 Inch  -->
        {% if twelve_inches %}
	    	{% from 'macro/record_table.html' import record_table %}
	    	    {{ record_table('12', twelve_inches, current_user, user=user) }}
    	{% endif %}              
	</div>
</div>

<script>
	$('#plus').on('click', function(){
		$("#add-record").toggle();

		if ( $('#add-record').attr('style') != 'display: none;' ) {
			$("#plus p").addClass('rotate');
		} else {
			$("#plus p").removeClass('rotate');
		}
	})		


</script>
	  
<script src="static/js/size_nav.js" ></script>
{% endblock %}
