{% extends "/extend/_base.html" %}

{% block title %}
	{{ super() }}
	{{ user.username }}
{% endblock %}

{% block page_content %}
<h1>{{ user.username }}'s Profile</h1>
<div>

	<div class=".profile">
		<img class="gravatar" src="{{ user.gravatar(size=256) }}" alt="">
	</div>

	<p><strong>email:</strong> {{ user.email }}</p>
	<p><strong>username:</strong> {{ user.username }}</p>
	<p><strong>about me:</strong> {{ user.about_me }}</p>

	<!-- Edit Profile -->
	{% if user == current_user %}
		<p><a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a></p>
	{% endif %}

	<!-- Records -->
	<h2>{{ user.username }}'s Records</h2>
	{% from 'macro/record_table.html' import record_table %}
	    {{ record_table(user_records, current_user, user=user) }}

    <!-- Followers  -->
    <h1>Followers</h1>

    <p><strong>Following:</strong></p>
    <ul>
    {% for f in followed %}
    	{% if f.followed.username != user.username%}
    	<li><a href="/user/{{f.followed.username}}">{{f.followed.username}}</a></li>
    	{% endif %}
    {% endfor %}
    </ul>

    <p><strong>Followers:</strong></p>
    <ul>
    {% for f in followers %}
    	{% if f.follower.username != user.username%}
    	<li><a href="/user/{{f.follower.username}}">{{f.follower.username}}</a></li>
    	{% endif %}
    {% endfor %}
    </ul>

    {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
    	<h3 style="text-decoration:underline;">FOLLOWS YOU</h3>
    {% endif %}

	<!-- Follow Button -->
	{% if current_user.is_authenticated %}
		{% if user != current_user %}
			{% if not current_user.is_following(user) %}
				<form action="{{ url_for('.follow', username=user.username) }}">
				    <button class="btn" type="submit">Follow</button>
				</form>
			{% else %}
				<form action="{{ url_for('.unfollow', username=user.username) }}">
				    <button class="btn" type="submit">Unfollow</button>
				</form>
			{% endif %}
		{% endif %}
	{% endif %}		

	<!-- Admin Edit profile -->
	{% if current_user.is_authenticated and current_user.is_administrator() %}
		<h2>Admin Section</h2>
		<a name="admin-edit" href="{{ url_for('.edit_profile_admin', id=user.id) }}">[Admin] Edit Profile</a>          
	{% endif %}
	  
</div>
{% endblock %}
