<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Record Bin 
            {% endblock %}    
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {% endblock %}
</head>
<body>

    {% include "include/_nav.html" %}

    {% block content %}
        <div class="container">

            {% for message in get_flashed_messages() %}
            <div>
                <p><strong>Flash:</strong> {{ message }}</p>
            </div>
            {% endfor %}

            {% block page_content %}
            {% endblock %}
        </div>
    {% endblock %}
</body>
</html>


{% block scripts %}
{{ moment.include_moment() }}
{% endblock %}